html,
body {
  font-family: PT Sans Narrow , sans-serif;
  font-size: 20px;
  font-weight:normal;
  color: white;
  line-height:normal;

}
body {background-image: url(../img/bg.jpg) ;
  background-repeat: no-repeat;
}
.bg{background-image: url(../img/bg_shop.png) ;

}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  }

.main-header {
  margin-bottom: 60px;
}
.logo{
  float: left;
  width: 115px;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.main-navigation {
  float: left;
  width: 640px;
  }
.main-navigation li{
  float: left;
  padding-bottom: 30px;
  padding-left: 15px;
  list-style-type: none;

}
.main-navigation li a{
  color: #ffffff;
  text-decoration:none;
  font-size: 16px;
  text-transform: uppercase;
}
.user-block {
  float: right;
  width: 140px;
  padding-top: 20px;
  }
.user-block a{
  color: #ffffff;
  text-decoration:none;
  font-size: 16px;
  text-transform: uppercase;
}
.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  border: 1px  solid red;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}
.features {
  margin-bottom: 80px;
}
.index-content {
  padding: 50px 80px;
}

.index-content-news {
  float: left;
  width: 380px;

}

.index-content-gallery {
  float: right;
  width: 330px;
}
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}
.main-header{
  background-color: #000000;
}
.main-footer {
  background-color: #000000;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}

h1{
  padding-top: 50px;
  padding-bottom: 15px;
  color: #000000;
}
.breadcrumbs li{
  float: left;
  padding-bottom: 30px;
  padding-left: 15px;
  list-style-type: none;
  font-size: 13px;
  color: #aba9a7;
  color: #000000;
}
.breadcrumbs li a{
  text-decoration:none;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}
.selection{
  float: left;
  margin-top: 40px;
  padding: 10px
  width: 220px;
  min-height: 900px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
fieldset{border: none;}

.selection h2{
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}
.button{
  width: 115px;
  height: 45px;
  margin-left: 10px;
  padding: auto;
  border: none;
  background-color: #000000;
  color: #777777;
  font-size: 12px;
  text-transform: uppercase;
}

.products{
  margin-top: 40px;
  float: right;
  width: 720px;

}
.product{
  float: left;
width: 220px;
height: 280px;
background-color: #ffffff;
margin-right: 20px;
margin-top: 20px;
box-shadow:0 0 1px 1px #e2e0dd;
}
.product a  {
  text-decoration: none;
}
.category{float: left;
  font-size: 9px;
  text-decoration: none;
  color: #000000;
  padding-left: 20px;
}

  .title{float: left;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    padding-left: 20px;
    text-transform: uppercase;
  }
  .buy{
float: left;
width: 190px;
height: 45px;
margin-left: 15px;
margin-top: 20px;
margin-bottom: 15px;

  }
  .price{
    float: left;
    width: 110px;
    height: 30px;
    background-color: #e5e5e5;
    text-align: center;
    padding-top: 15px;
  }
.buy a{
  float: left;
  width: 80px;
  height: 30px;
  background-color: #000000;
  text-align: center;
  padding-top: 15px;
  color: #ffffff;
  text-decoration: none;
}


.pagination a{
  float: left;
  width: 45px;
  height: 35px;
  margin-top: 45px;
  margin-right: 10px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;


}

.photo-gallery{
  float: left;
  width: 480px;
  padding: 10px;

}
.photo-gallery a{
  margin-left: auto;
}
.info{
  float: right;
  width: 400px;
}
